.icon-card {
    width: 200px;
    min-width: 170px;
    height: 100%;
    padding: 10px;

    margin: 5px;
    flex-grow: 1;

    border-radius: 10px;
    border: 1px solid rgba(24, 27, 78, 0.3);

    transition: transform .5s, border .9s ease;
    cursor: pointer;
}

.icon-card:hover {
    border: 1px solid var(--baseColor);
    transform: translateY(-3px);
}

.icon-card:active {
    transition: none;
    transform: translateY(3px);
}

.icon-card-part {
    padding: 10px 5px;
}

.icon-card h4 {
    color: var(--baseColor);
}

.icon-card p {
    font-size: .6rem;
}